@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: block;
}

.head{
    display: flex;
    background-color: white;
    color: #333333;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.img-pos{
    padding: 1rem;
    cursor: pointer;
}

.buttons-pos{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-head{
    background-color: white;
    padding: 1rem;
    text-decoration: none;
    color: #757575;
    transition: 0.25s;
}

.button-head:hover{
    color: black;
}

.button-main{
    margin: 0.5rem;
    background-color: #39a0ff;
    border: 2px solid black;
    padding: 1rem;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.button-main:hover{
    border: 2px solid #39a0ff;
    color: white;
}

.main{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background-color: #39a0ff;
    padding: 13rem;
    height: 35vh;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.inner-left{
    margin-right: 2rem;
    width: 400px;
}

.right{
    width: 50%;
}

.stick{
    height: 107px;
    transform-origin: center top;
    width: 4px;
    margin: 51px auto 0;
    border: 4px solid black;
    box-sizing: border-box;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
}

.footer{
    background-color: #333333;
    height: 3rem;
    padding: 3rem;
    height: 8rem;
    color: white;
    font-weight: 100;
}

.bold{
    font-weight: 900;
}

.regular{
    font-weight: 400;
}

.thin{
    font-weight: 100;
}

.light{
    font-weight: 300;
}

.small-text{
    font-size: 1rem;
}

.medium-text{
    font-size: 1.5rem;
}


.bold-text{
    font-size: 4.5rem;
}

.black-color{
    color: black !important;
}

.open_menu{
    color: black;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
    display: none;
}
.open_menu img{
    height: 30px
}
.modal-menu{
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
}
.textarea-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#article{
    resize: none;
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    border-radius: 10px;
    margin: 30px;
    
}
::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.textarea-form input{
    width: 250px;
    cursor: pointer;
}


.modal-menu .button-head{
    background-color: transparent;
}

@media screen and (max-width: 1439px){
    .right{
    display: none;
    }
    .left{
    display: block;
    width: auto;
    }
    .inner-left{
    margin: 0;
    }
}

@media screen and (max-width: 767px){
    .buttons-pos a{
        display: none;
    }
    .open_menu{
        display: block;
    }
}
@media screen and (max-width: 424px){
    .main{
        padding: 13rem 0;
    }
    .inner-left{
        width: auto;
    }
    #article{
        font-size: 1em;
    }
}

@media screen and (min-width: 1800px){
    .main{
        height: 55vh;
    }
}

